/* =============================================================================
   Top area
   ========================================================================== */


#hero{
    text-align: center;
    margin-top: 4%;
    padding: 2%;
    background-color: antiquewhite;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,.125);
}



/* =============================================================================
   Middle
   ========================================================================== */


.container {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    
}


.general {
    
}

.article {
    justify-content: right;
}





/* =============================================================================
   Bottom
   ========================================================================== */

footer{
    left: 0;
    bottom: 0;
    height: 20px;
    padding: 10px;
    width: 100%;
    
    color: #aaa;
    
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(0,0,0,.125);
}